@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'grifter';
  src: url('fonts/grifter.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#preloader {
  background: #fafafa url('images/logo.png') no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

body {
  background: #fafafa;
  color: #000;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/*Navbar*/

nav {
  width: 100%;
  background: #fafafa;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  animation: topToBot 1.5s;
}

header {
  width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: auto;
}

header .brand {
  width: 105px;
  height: 42px;
}

header .menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .menu a {
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  margin: 0 15px;
}

.icon {
  width: 24px;
  height: 24px;
}

.head-btn {
  font-size: 24px;
  cursor: pointer;
  display: none;
  color: #000;
}

.line {
  background: #c2c2c2;
  width: 1px;
  height: 27px;
}

.btn {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  cursor: pointer;
  width: 115px;
  height: 48px;
  border: solid black;
  border-radius: 50px;
}

.btn-green {
  width: 8px;
  height: 8px;
  background: #8DE746;
  border-radius: 50%;
}

/*Hero Section*/

.home {
  margin-top: 100px;
  text-align: center;
}

.home p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.home h1 {
  margin: 40px 0;
  font-family: 'grifter';
  font-size: 140px;
}

.home img {
  margin: 40px 0;
  width: 33px;
  height: 61px;
}

.company-names {
  max-width: 1458px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.company-names h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000;
}

/*Service Section*/

.service {
  margin-top: 40px;
  background: #fff;
  border-radius: 32px;
  padding: 40px;
}

.service h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-align: center;
}

.service p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.service-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.service-name {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
}

.service-name h6 {
  width: 140px;
  height: 48px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid #c2c2c2;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all .4s ease;
  cursor: pointer;
}

.service-name h6:hover {
  background: #000;
  color: #fafafa;
  scale: 1.1;
}

.horizontal-line {
  background: #D2D2D2;
  width: 100%;
  height: 1px;
  margin-top: 40px;
}

.services {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 80px;
  text-align: start;
}

.services p {
  margin-top: 15px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: start;
}

.service-arrow {
  width: 100px;
  height: 100px;
  transition: all .4s ease;
  cursor: pointer;
}

.service-arrow:hover {
  rotate: 30deg;
}

/*Expert Section*/

.expert {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expert div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.expert p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  transform: rotate(270deg);
}

.expert img {
  width: 18.5px;
  height: 58px;
}

.expert-list {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.expert-list h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px;
  background: #fff;
  border-radius: 20px;
  font-size: 24px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: all .6s ease;
}

.expert-list h1:hover {
  background: #000;
  color: #fff;
  margin-left: -10px;
}

/*Work Section*/

.work {
  margin-top: 40px;
  padding-top: 80px;
  padding: 60px;
  background: #fff;
  border-radius: 32px;
}

.work-showcase {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 20px;
}

.work h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.work p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

.work-card {
  border: 0.5px solid #F2F2F2;
  border-radius: 32px;
}

.work-card div:first-child {
  margin: 40px;
}

.work-card img {
  width: 450px;
  height: 250px;
  border-radius: 32px;
  cursor: pointer;
  transition: all .4s ease;
}

.work-card h1 {
  margin-top: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.work-tags {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  cursor: pointer;
}

.work-tags h6 {
  width: 140px;
  height: 48px;
  border-radius: 50px;
  background: #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  transition: all .4s ease;
}

.work-tags h6:hover {
  scale: 1.1;
  background: #000;
  color: #fafafa;
}

/*Feedback Section*/

.feedback {
  margin-top: 40px;
}

.feedback-heading {
  font-size: 90px;
  font-family: 'grifter';
  text-align: center;
}

.swiper {
  margin-top: 40px;
  width: 600px;
  height: 300px;
}

.swiper-slide {
  background-color: #fff;
  padding: 40px;
  border: 1px solid #F2F2F2;
  border-radius: 20px;
}

.swiper-slide img {
  width: 60px;
  width: 60px;
}

.swiper-slide h3 {
  margin-top: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000;
}

.swiper-slide p {
  margin-top: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #868686;
}

/*Footer Section*/

footer {
  margin-top: 40px;
  padding-top: 40px;
  background: #0a0a0a;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer img {
  width: 85px;
  height: 43px;
}

.footer p {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  margin: 40px 0;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.footer a img {
  width: 68px;
  height: 68px;
  transition: all .4s ease;
  cursor: pointer;
}

.footer a img:hover {
  margin-top: -20px;
}

.grey {
  width: 1200px;
  background: #7c7c7c;
  opacity: 45%;
}

/*About Page*/

.about-page {
  margin-top: 140px;
}

.about-page h1 {
  font-family: 'grifter';
  font-size: 140px;
}

.about-page p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-top: 70px;
}

.about-page img {
  margin-top: 105px;
  width: 1200px;
  height: 463px;
}

.about-page h2 {
  margin-top: 85px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 75px;
}

.about-page h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  margin-top: 100px;
  font-size: 45px;
}

.abouts {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  align-items: center;
}

.the-team img {
  display: block;
  margin: 200px auto 0 auto;
  width: 654px;
  height: 703.82px;
}

.talk {
  margin-top: 40px;
  padding: 140px 0;
  border: 1px solid #F2F2F2;
  border-radius: 32px;
  background: #fff;
}

.talk p {
  font-family: 'grifter';
  font-size: 40px;
  text-align: center;
}

.talk-btn {
  margin: 40px auto 0px auto;
}

/*Contact Page*/

.contact-page {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.user-details {
  display: flex;
  gap: 20px;
}

.user {
  display: flex;
  flex-direction: column;
}

.user label {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}

.user input {
  width: 300px;
  height: 48px;
  border: 0;
  background: #fafafa;
  border-bottom: 1px solid #c5c5c5;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;

  &::placeholder {
    color: #c2c2c2;
  }

  &:focus {
    outline: none;
  }
}

.contact-page h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 25px;
}

.radio-group {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.radio-input {
  display: none;
}

.radio-label {
  width: 170px;
  height: 60px;
  border: 0.5px solid #c2c2c2;
  border-radius: 50px;
  background: #fafafa;
  transition: all .4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

.radio-input:checked+.radio-label {
  border-color: #000000;
}

.radio-label:hover {
  background-color: #000;
  color: #fff;
}

.contact-page button {
  width: 170px;
  height: 60px;
  background-color: #000;
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  border-radius: 50px;
  font-size: 14px;
  margin-top: 40px;
  cursor: pointer;
  transition: all .4s ease;
}

.contact-page button:hover {
  background-color: #fafafa;
  color: #000;
  border: 0.5px solid #c2c2c2;
}

.gif img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.gif p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 45px;
  margin-top: 20px;
}

.contact-page textarea {
  border: 0;
  border-bottom: 1px solid #c5c5c5;
  background: #fafafa;
  padding: 10px;
  width: 100%;
  height: 100px;
  color: #000;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;

  &:focus {
    outline: 0;
  }

  &::placeholder {
    color: #c2c2c2;
  }
}

@media (max-width: 1024px) {

  .container,
  .grey {
    max-width: 750px;
  }

  header {
    max-width: 780px;
  }

  /*Hero Section*/

  .home {
    margin-top: 40px;
  }

  .home h1 {
    font-size: 90px;
  }

  .company-names h1 {
    font-size: 26px;
  }

  /*Service Section*/

  .service h1 {
    font-size: 80px;
  }

  .services h1 {
    font-size: 60px;
  }

  .service-name h6 {
    width: 120px;
  }

  /*Expert Section*/

  .expert p {
    font-size: 38px;
  }

  .expert-list {
    gap: 10px;
  }

  .expert-list h1 {
    width: 275px;
    height: 100px;
  }

  /*Work Section*/

  .work-card img {
    width: 260px;
    height: 170px;
  }

  .work-card h1 {
    font-size: 14px;
  }

  .work-tags h6 {
    width: 100px;
  }

  /*Feedback Section*/

  .feedback-heading {
    font-size: 80px;
  }

  /*About Page*/

  .about-page {
    margin-top: 100px;
  }

  .about-page h1 {
    font-size: 120px;
  }

  .about-page p {
    margin-top: 40px;
  }

  .about-page img {
    margin-top: 80px;
    width: 750px;
    height: 300px;
  }

  .about-page h2 {
    margin-top: 60px;
    font-size: 60px;
  }

  .about-page h3 {
    margin-top: 80px;
    font-size: 38px;
  }

  .the-team img {
    width: 450px;
    height: 500px;
  }

  .talk {
    padding: 80px 0;
  }

  /*Contact Page*/

  .gif {
    display: none;
  }
}

@media screen and (max-width : 768px) {

  .container,
  .grey {
    max-width: 700px;
  }

  header {
    max-width: 700px;
  }

  header .head-btn {
    display: block;
  }

  header .menu {
    position: fixed;
    background: #fff;
    flex-direction: column;
    min-width: 100vw;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: .6s;
    transition-property: right;
  }

  header .menu.active {
    right: 0;
  }

  .line {
    width: 300px;
    height: 1px;
  }

  header .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  /*Hero Section*/

  .home h1 {
    font-size: 80px;
  }

  .company-names h1 {
    font-size: 24px;
  }

  /*Expert Section*/

  .expert-list h1 {
    width: 250px;
  }

  /*Work Section*/

  .work-showcase {
    gap: 8px;
  }

  .work-card img {
    width: 250px;
    height: 170px;
  }

  /*Feedback Section*/

  .feedback-heading {
    font-size: 70px;
  }

  /*About Page*/

  .about-page img {
    width: 700px;
    height: 270px;
  }

  .the-team img {
    width: 430px;
    height: 500px;
  }

}

@media screen and (max-width: 480px) {

  .container, .grey {
    max-width: 340px;
  }

  header {
    max-width: 340px;
  }

  header .brand {
    width: 95px;
  }

  header .head-btn {
    display: block;
  }

  header .menu {
    position: fixed;
    background: #fff;
    flex-direction: column;
    max-width: 300px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: .6s;
    transition-property: right;
  }

  header .menu.active {
    right: 0;
  }

  .line {
    width: 340px;
    height: 1px;
  }

  header .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  /*Hero Section*/

  .home p {
    font-size: 10px;
  }

  .home h1 {
    font-size: 34px;
  }

  .company-names {
    flex-direction: column;
    gap: 10px;
  }

  /*Service Section*/

  .service h1 {
    font-size: 30px;
  }

  .service p {
    font-size: 14px;
  }

  .service-name {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .service-name h6 {
    width: 90px;
    height: 34px;
    font-size: 10px;
  }

  .service-arrow {
    display: none;
  }

  /*Expert Section*/

  .expert {
    flex-direction: column;
  }

  .expert-list {
    grid-template-columns: auto;
  }

  .expert p {
    text-align: center;
    transform: rotate(0deg);
    margin-bottom: 20px;
  }

  .expert-list h1 {
    width: 300px;
  }

  .expert img {
    display: none;
  }

  /*Work Section*/

  .work-showcase {
    grid-template-columns: auto;
  }

  .work-card img {
    width: 250px;
  }

  .work-card div:first-child {
    margin: 20px;
  }
  
  /*Feedback Section*/

  .feedback-heading {
    font-size: 32px;
  }

  .swiper {
    width: 300px;
    height: 350px;
  }

  .swiper-slide {
    padding: 20px;
  }

  /*Footer Section*/

  .footer-icons {
    column-gap: 10px;
  }

  .footer a img {
    width: 40px;
    height: 40px;
  }

  /*About Page*/

  .about-page h1 {
    font-size: 50px;
  }

  .about-page p {
    font-size: 16px;
  }

  .about-page img {
    width: 340px;
    height: 120px;
  }

  .about-page h2 {
    font-size: 40px;
  }

  .about-page h3 {
    margin-top: 40px;
    font-size: 32px;
  }

  .the-team img {
    width: 340px;
    height: 380px;
  }

  .talk {
    padding: 60px 0;
  }

  .talk p {
    font-size: 32px;
  }

  /*Contact Page*/

  .contact-page {
    flex-direction: column-reverse;
  }

  .user-details {
    flex-direction: column;
    gap: 10px;
  }

  .user input {
    width: 100%;
  }

  .radio-group {
    grid-template-columns: auto auto;
  }

  .radio-label {
    width: 165px;
  }

}