@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'grifter';
  src: url('fonts/grifter.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

#preloader {
  background: #fafafa url('images/logo.png') no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

body {
  background: #fafafa;
  color: #000;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/*Navbar*/

nav {
  width: 100%;
  background: #fafafa;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  animation: topToBot 1.5s;
}

header {
  width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: auto;
}

header .brand {
  width: 105px;
  height: 42px;
}

header .menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .menu a {
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  margin: 0 15px;
}

.icon {
  width: 24px;
  height: 24px;
}

.head-btn {
  font-size: 24px;
  cursor: pointer;
  display: none;
  color: #000;
}

.line {
  background: #000;
  width: 1px;
  height: 27px;
}

.btn {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  cursor: pointer;
  width: 115px;
  height: 48px;
  border: solid black;
  border-radius: 50px;
}

.btn-green {
  width: 8px;
  height: 8px;
  background: #8DE746;
  border-radius: 50%;
}

/*Hero Section*/

.home {
  margin-top: 100px;
  text-align: center;
}

.home p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.home h1 {
  margin: 40px 0;
  font-family: 'grifter';
  font-size: 140px;
}

.home img {
  margin: 40px 0;
  width: 33px;
  height: 61px;
}

.company-names {
  max-width: 1458px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.company-names h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000;
}

/*Service Section*/

.service {
  margin-top: 40px;
  background: #fff;
  border-radius: 32px;
  padding: 40px;
}

.service h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-align: center;
}

.service p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.service-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 33px;
}

.service-name {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 8px;
}

.service-name h6 {
  width: 140px;
  height: 48px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid #c2c2c2;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all .4s ease;
  cursor: pointer;
}

.service-name h6:hover {
  background: #000;
  color: #fafafa;
  scale: 1.1;
}

.horizontal-line {
  background: #D2D2D2;
  width: 100%;
  height: 1px;
  margin-top: 40px;
}

.services {
  margin-top: 33px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.services h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 80px;
  text-align: start;
}

.services p {
  margin-top: 15px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: start;
}

.service-arrow {
  width: 100px;
  height: 100px;
  transition: all .4s ease;
  cursor: pointer;
}

.service-arrow:hover {
  rotate: 30deg;
}

/*Expert Section*/

.expert {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.expert div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.expert p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  transform: rotate(270deg);
}

.expert img {
  width: 18.5px;
  height: 58px;
}

.expert-list {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.expert-list h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px;
  background: #fff;
  border-radius: 20px;
  font-size: 24px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: all .6s ease;
}

.expert-list h1:hover {
  background: #000;
  color: #fff;
  margin-left: -10px;
}

/*Work Section*/

.work {
  margin-top: 40px;
  padding-top: 80px;
  padding: 60px;
  background: #fff;
  border-radius: 32px;
}

.work-showcase {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 20px;
}

.work h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.work p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

.work-card h1 {
  margin-top: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.work-card {
  border: 0.5px solid #F2F2F2;
  border-radius: 32px;
}

.work-card div:first-child {
  margin: 40px;
}

.work-card img {
  width: 450px;
  height: 250px;
  border-radius: 32px;
  cursor: pointer;
  transition: all .4s ease;
}

.work-tags {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  cursor: pointer;
}

.work-tags h6 {
  width: 140px;
  height: 48px;
  border-radius: 50px;
  background: #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  transition: all .4s ease;
}

.work-tags h6:hover {
  scale: 1.1;
  background: #000;
  color: #fafafa;
}

/*Feedback Section*/

.feedback {
  margin-top: 40px;
}

.feedback-heading {
  font-size: 90px;
  font-family: 'grifter';
  text-align: center;
}

.swiper {
  margin-top: 40px;
  width: 600px;
  height: 300px;
}

.swiper-slide {
  background-color: #fff;
  padding: 40px;
  border: 1px solid #F2F2F2;
  border-radius: 20px;
}

.swiper-slide img {
  width: 60px;
  width: 60px;
}

.swiper-slide h3 {
  margin-top: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000;
}

.swiper-slide p {
  margin-top: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #868686;
}

/*Footer Section*/

footer {
  margin-top: 40px;
  padding-top: 40px;
  background: #0a0a0a;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer img {
  width: 85px;
  height: 43px;
}

.footer p {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  margin: 40px 0;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.footer a img {
  width: 68px;
  height: 68px;
  transition: all .4s ease;
  cursor: pointer;
}

.footer a img:hover {
  margin-top: -20px;
}

.grey {
  width: 1200px;
  background: #7c7c7c;
  opacity: 45%;
}

/*About Page*/

.about-page {
  margin-top: 140px;
}

.about-page h1 {
  font-family: 'grifter';
  font-size: 140px;
}

.about-page p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-top: 70px;
}

.about-page img {
  margin-top: 105px;
  width: 1242px;
  height: 463px;
}

.about-page h2 {
  margin-top: 85px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 75px;
}

.about-page h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  margin-top: 100px;
  font-size: 45px;
}

.abouts {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  align-items: center;
}

.the-team img {
  display: block;
  margin: 200px auto 0 auto;
  width: 654px;
  height: 703.82px;
}

.talk {
  margin-top: 40px;
  padding: 140px 0;
  border: 1px solid #F2F2F2;
  border-radius: 32px;
  background: #fff;
}

.talk p {
  font-family: 'grifter';
  font-size: 40px;
  text-align: center;
}

.talk-btn {
  margin: 40px auto 0px auto;
}

/*Contact Page*/

.contact-page {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.user-details {
  display: flex;
  gap: 20px;
}

.user {
  display: flex;
  flex-direction: column;
}

.user label {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
}

.user input {
  width: 300px;
  height: 48px;
  border: 0;
  background: #fafafa;
  border-bottom: 1px solid #c5c5c5;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;

  &::placeholder {
    color: #c2c2c2;
  }

  &:focus {
    outline: none;
  }
}

.contact-page h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 25px;
}

.radio-group {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.radio-input {
  display: none;
}

.radio-label {
  width: 170px;
  height: 60px;
  border: 0.5px solid #c2c2c2;
  border-radius: 50px;
  background: #fafafa;
  transition: all .4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

.radio-input:checked + .radio-label {
  border-color: #000000;
}

.radio-label:hover {
  background-color: #000;
  color: #fff;
}

.contact-page button {
  width: 170px;
  height: 60px;
  background-color: #000;
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  border-radius: 50px;
  font-size: 14px;
  margin-top: 40px;
  cursor: pointer;
  transition: all .4s ease;
}

.contact-page button:hover {
  background-color: #fafafa;
  color: #000;
  border: 0.5px solid #c2c2c2;
}

.contact-page img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.contact-page p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 45px;
  margin-top: 20px;
}

.contact-page textarea {
  border: 0;
  border-bottom: 1px solid #c5c5c5;
  background: #fafafa;
  padding: 10px;
  width: 100%;
  height: 100px;
  color: #000;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;

  &:focus {
    outline: 0;
  }

  &::placeholder {
    color: #c2c2c2;
  }
}

@media (max-width: 1060px) {
  .container {
    max-width: 1060px;
  }

  header {
    max-width: 1060px;
  }

  header .head-btn {
    display: block;
  }

  header .menu {
    position: fixed;
    background: #fff;
    flex-direction: column;
    min-width: 400px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: .6s;
    transition-property: right;
  }

  header .menu.active {
    right: 0;
  }

  .line {
    width: 300px;
    height: 1px;
  }

  header .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 390px;
    overflow: hidden;
  }

  header {
    max-width: 85%;
  }

  header .brand {
    padding-left: 10px;
    width: 95px;
  }

  header .head-btn {
    display: block;
  }

  header .menu {
    position: fixed;
    background: #fff;
    flex-direction: column;
    max-width: 300px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 80px 50px;
    transition: .6s;
    transition-property: right;
  }

  header .menu.active {
    right: 0;
  }

  .line {
    width: 300px;
    height: 1px;
  }

  header .menu .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
  }

  /*Mobile Hero Section*/

  .home {
    margin-top: 50px;
  }

  .home p {
    font-size: 10px;
  }

  .home h1 {
    font-size: 46px;
  }

  .company-names {
    flex-direction: column;
    gap: 20px;
  }

  .company-name {
    gap: 35px;
  }

  .company-names h1 {
    font-size: 20px;
  }

  /*Mobile Service Section*/

  .service-section {
    margin-top: 16px;
  }

  .service-details {
    width: 100%;
    height: 568px;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px;
  }

  .service-left img {
    width: 60px;
    height: 60px;
  }

  .service-left {
    margin-top: 39px;
    gap: 28px;
    margin-left: 5px;
  }

  .service-right {
    width: 100%;
    height: 342px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 5px;
  }

  .service-para {
    font-size: 20px;
  }

  .service-icon {
    display: none;
  }

  /*Mobile Service Section 2*/

  .service {
    flex-direction: column;
    align-items: start;
  }

  .service-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 7px;
  }

  .service h1 {
    font-size: 31.22px;
  }

  .service p {
    font-size: 10px;
  }

  .service-name h6 {
    width: 65.44px;
    height: 23.8px;
    font-size: 5.37px;
    border: 1px solid #c2c2c2;
    border-radius: 18.34px;
  }

  .service-info {
    margin-top: 15px;
  }

  .service-info h1 {
    font-size: 36.15px;
  }

  .service-info p {
    margin-top: 8px;
    font-size: 10px;
  }

  .service-info img {
    width: 35.91px;
    height: 35.91px;
  }

  /*Mobile Work Section*/

  .work-section {
    padding-top: 57px;
    padding-left: 20px;
    height: 1316px;
  }

  .work-section h3 {
    font-size: 20px;
  }

  .work-showcase h4 {
    margin-top: 19px;
    margin-left: 20px;
    font-size: 13.89px;
  }

  .work-section h5 {
    margin-top: 10px;
    font-size: 14px;
  }

  .work-showcase {
    margin-top: 33px;
    margin-right: 20px;
  }

  .work-row {
    flex-direction: column;
    gap: 16px;
  }

  .work-item {
    width: 330.93px;
    height: 272.88px;
    border-radius: 17.86px;
  }

  .work-showcase img {
    margin-top: 15px;
    margin-left: 16px;
    width: 292.23px;
    height: 171.67px;
    border-radius: 10.42px;
  }

  .work-showcase h6 {
    margin-top: 16px;
    margin-left: 20px;
    width: 87.82px;
    height: 21.83px;
    border-radius: 34.73px;
    background: #F0F0F0;
    font-size: 7px;
  }

  .row2 {
    margin-top: 16px;
  }

  /*Mobile Expert Section*/

  .expert-section {
    margin-top: 66px;
  }

  .expert-details {
    height: 552px;
  }

  .expert-details {
    flex-direction: column;
    align-items: start;
    height: 479px;
  }

  .expert-list1,
  .expert-list2 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  .expert-list1,
  .expert-list2 {
    margin-left: 0;
    gap: 14px;
  }

  .exp-list {
    width: 188.17px;
    height: 45.88px;
    border-radius: 10.66px;
    font-size: 11.12px;
  }

  .expert-details {
    gap: 20px;
  }

  .expert-right {
    gap: 10px;
  }

  /*Mobile Team Section*/

  .shyed {
    margin-top: 43px;
    flex-direction: column;
    align-items: flex-start;
    height: 935.19px;
    border-radius: 25.38px;
  }

  .shyed-text,
  .shyed-social-media {
    margin-left: 57px;
  }

  .shyed-image img {
    margin-top: 49px;
    width: 42.04px;
    height: 42.04px;
  }

  .shyed-text1 {
    font-size: 36.49px;
    margin-top: 45px;
  }

  .shyed-name {
    margin-top: 72px;
    font-size: 19.04px;
  }

  .shyed-details {
    font-size: 15.86px;
  }

  .social-icons img {
    margin-top: 29px;
    width: 19.04px;
    height: 19.04px;
  }

  .shyed-photo,
  .shyed-photo img {
    width: 396.6px;
    height: 349.01px;
  }

  .shyed-photo img {
    margin-top: 0;
    margin-left: -8px;
  }

  /*Mobile Feedback Section*/

  .feedback-section {
    margin-top: 68px;
  }

  .feedback-text1 {
    font-size: 16px;
  }

  .feedback-text2 {
    margin-top: 20px;
    font-size: 40px;
  }

  .feedback-divs {
    flex-direction: column;
  }

  .feedback-div {
    margin-top: 22px;
    width: 380.12px;
    height: 338.77px;
  }

  .feedback-center {
    width: 391px;
    height: 158.87px;
    gap: 22px;
    margin-top: 22px;
  }

  .feedback-profile img {
    margin-top: 49px;
    margin-left: 39px;
    width: 66.01px;
    width: 66.01px;
  }

  .feedback-center-profile img {
    width: 66.01px;
    width: 66.01px;
  }

  .feedback-div-text1 {
    margin-left: 39px;
    font-size: 21.76px;
  }

  .feedback-div-text2 {
    margin-left: 39px;
    font-size: 11.61px;
  }

  .feedback-center h3 {
    font-size: 14.05px;
  }

  .feedback-bottom {
    margin-top: 50px;
    padding-top: 72px;
    height: 309px;
    border-radius: 32px;
  }

  .feedback-bottom-text {
    font-size: 30px;
  }

  .feedback-btn {
    margin: 46px auto 0px auto;
  }

  /*Mobile Footer Section*/

  .footer-section {
    margin-top: 27px;
    height: 1006px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-left {
    margin-left: -50px;
  }

  .footer-logo img {
    height: 42px;
    margin-top: 40px;
  }

  .f-left-text {
    margin-top: 26px;
  }

  .f-left-text2 {
    margin-top: 37px;
  }

  .footer-mail {
    column-gap: 20px;
    margin-top: 40px;
  }

  .footer-row1,
  .footer-icons,
  .f-right-text2 {
    margin-top: 50px;
  }

  .f-right-text {
    margin-top: 30px;
  }

  .footer-icons img {
    width: 48px;
    height: 48px;
  }

  .footer-form {
    gap: 8px;
  }

  .copyright {
    margin-top: 25px;
  }

  .grey {
    margin-top: 35px;
    background: #7c7c7c;
    opacity: 46%;
  }

  /*Mobile About Page*/

  .about-page {
    margin-top: 50px;
  }

  .about-page h1 {
    font-family: 'grifter';
    font-size: 46px;
  }

  .about-text1,
  .about-texts p {
    font-size: 10px;
    margin-top: 25px;
  }

  .about-page img {
    margin-top: 45px;
    width: 100%;
    height: 145px;
  }

  .about-page h3 {
    margin-top: 60px;
    font-size: 35px;
  }

  .about-texts {
    margin-top: 45px;
  }

  .about-text2,
  .about-texts h1 {
    margin-top: 50px;
    font-family: 'jakarta7';
    font-size: 20.76px;
  }

  .the-team img {
    margin-top: 100px;
    width: 255.36px;
    height: 274.82px;
  }

  /*Mobile Work Page*/

  .work-page {
    margin-top: 50px;
  }

  .work-text {
    font-size: 10px;
  }

  .work-page h1 {
    margin-top: 40px;
    font-size: 43px;
  }

  .showcase {
    margin-top: 100px;
    padding-top: 142px;
    height: 2500px;
    padding-left: 25px;
  }

  /*Mobile Contact Page*/

  .contact-page {
    margin-top: 50px;
  }

  .contact-bottom {
    display: none;
  }

  .contact-columns {
    flex-direction: column;
  }

  .contact-form {
    flex-direction: column;
    gap: 25px;
  }

  .radios {
    margin-top: 25px;
  }

  .contact-inner-row {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 22px;
  }

  .contact-outer-row {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
  }

  .contact-btn2 {
    margin-top: 20px;
  }

  .none {
    display: none;
  }
}